In [3]:
print("Hello, World!")

Hello, World!

In [2]:
import sys

print(sys.version)

Hello, World!

In [4]:
if 5 > 2:
    print("Fiive is greater than two!")

Fiive is greater than two!

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
x = 126
y = "Five greater than two!"
print(x)
print(y)

In [5]:
#This is comment.
print("Hello, World")

print("Hello, World!") #This is comment

#print("Hello, World!")
print("Chears, Mate!")

Hello, World
Hello, World!
Chears, Mate!

In [6]:
x = 5
y = "John"
print(x)
print(y)

x = 4
x = "Sally"
print(x) #print just "Sally"

x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

print(type(z))
y = "John"
print(type(y))

5
John
Sally
3
3
3.0
<class 'float'>
<class 'str'>

In [7]:
#legal and illegal names
#legal names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
#illegal names
"""
2myvar = "John"
my-var = "John"
my var = "John"
"""

'\n2myvar = "John"\nmy-var = "John"\nmy var = "John"\n'

In [8]:
#assign multiple values
x, y, z = "O", "B", "C"
print(x, y, z)

x = y = z = "Orange"
print(x , y ,z )

fruits = ["apple", "banana", "cherry"]
x, y , z = fruits # как я понимаю, я не могу взять меньшее количество пеерменных, чем задано в массиве
print(x , y ,z)

O B C
Orange Orange Orange
apple banana cherry

In [9]:
#output variables
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

x = 5
y = 10
print(x+y)

""""
x = 5
y = "John"
print(x+y) #That is illegal

print(x, y) is legal
"""

Python is awesome
Python is awesome
Python is awesome
15

'"\nx = 5\ny = "John"\nprint(x+y) #That is illegal\n\nprint(x, y) is legal\n'

In [ ]:
#global veriables
x = "awesome"

def myfunc():
    print("Python is" + " " + x)

def func():
    x =  "fantastic"
    print("Python is" + " " + x)
# если изменять переменную внутри функции она не изменится во всем коде
myfunc()
func()
print("Python is " + x)

def mfunc():
    global x
    x = "fantastic"

mfunc()

print("Python is " + x)

In [10]:
#numbers
x = 1     # int
y = 2.8   # float
z = 1j    # complex
print(type(x),", ", type(y),", ", type(z))



x = 1
y =12345679081232435475769879
z = -123565768
print(type(x),", ", type(y),", ", type(z))


x = 35e3
y = 12E4
z = -87.7e100

print(type(x),", ", type(y),", ", type(z))

x = 3+5j
y = 5j
z = -5j

print(type(x),", ", type(y),", ", type(z))

x = 1     # int
y = 2.8   # float  
z = 1j    # complex 

a = float(x)
b = int(y)
c = complex(z)

print(a, b, c)
print(type(a), ", ", type(b), ", ", type(c) )

<class 'int'> ,  <class 'float'> ,  <class 'complex'>
<class 'int'> ,  <class 'int'> ,  <class 'int'>
<class 'float'> ,  <class 'float'> ,  <class 'float'>
<class 'complex'> ,  <class 'complex'> ,  <class 'complex'>
1.0 2 1j
<class 'float'> ,  <class 'int'> ,  <class 'complex'>

In [ ]:
#casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x, y, z)

x = float(1)     # x will be 1.0 
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x,y,z,w)

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x,y,z)

In [ ]:
# strings
print("hi")
print("Hi")

print("It's alright")
print("He is called 'Patric'")
print('No, he is called "Johnny"')

a = "Hello"
print(a)


a = "a""c""b"
print(a)

a = '''aaaaaaaaaaaaaaccccccccccccccbbbbbbbbbb'''
print(a)

aa = "Hello, World"
print(aa[1])


for x in "banana":
    print(x)

print(len(aa))

txt = " the best things in life are free"
print("free" in txt)

if "free" in txt:
    print("Yes, 'free' is present ")

print("expensive" not in txt)

if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

In [ ]:
#slicing strings
b = "Hello, World!"
print(b[1:5])

print(b[:5])
print(b[:])
print(b[2:])
print(b[-5:-2])

In [12]:
#Modify strings
a = "Hello, World"
print(a.upper())

print(a.lower())

a = "       Hello, World!  "
print(a.strip())

a = "Hello, World!, World!"
print(a.replace("H", "J"))

print(a.split(","))
print(a.split())
print(a.split("W"))

HELLO, WORLD
hello, world
Hello, World!
Jello, World!, World!
['Hello', ' World!', ' World!']
['Hello,', 'World!,', 'World!']
['Hello, ', 'orld!, ', 'orld!']

In [11]:
#Concatenate strings
a = "Hello"
b = ", World!"
c = a + b
print(c)

c = a + " " + b
print(c)

My name is John, I am 36
My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars

In [ ]:
#format strings
age = 36
txt = "My name is John, I am " + str(age) 
print(txt)

txt = f"My name is John, I am {age}"
print(txt)

price = 59
txt = f"The price is {price} dollars"
print(txt)

txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)